#goBackButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}
#saveButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}
#main {
    -fx-background-color: #FDFBF6;
    -fx-padding: 20px;
}
#deleteButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}
#logOutButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}
#viewDetailsButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}
#hideDetailsButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}