#mainBox {
    -fx-background-color: #A3B18A;
    -fx-padding: 40px;
    -fx-spacing: 0px;
}
#SignupBox {
    -fx-background-color: #FDFBF6;
    -fx-padding: 15px;
}
#signupTitle {
    -fx-padding:20px;
}
#fieldsBox {
    -fx-spacing: 40px;
}
#buttonBox {
    -fx-spacing: 25px;
    -fx-alignment: CENTER;
}
#login {
    -fx-alignment: CENTER;
    -fx-padding: 20px;
}
#signUpButton{
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}
#goBackButton {
    -fx-background-color: #588157;
    -fx-padding: 12px;
    -fx-text-fill: #FDFBF6;
}